# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/*/dist
/tmp
/*/tmp
/out-tsc
/*/out-tsc
/package-lock.json

# dependencies
/node_modules
/*/node_modules

# IDEs and editors
.idea
/*/.idea
.project
/*/.project
.classpath
/*/.classpath
.c9/
/*/.c9/
*.launch
/*/*.launch
.settings/
/*/.settings/
*.sublime-workspace
/*/*.sublime-workspace

# IDE - VSCode
.vscode/*
/*/.vscode/*
!.vscode/settings.json
/*/!.vscode/settings.json
!.vscode/tasks.json
/*/!.vscode/tasks.json
!.vscode/launch.json
/*/!.vscode/launch.json
!.vscode/extensions.json
/*/!.vscode/extensions.json

# misc
/.sass-cache
/*/.sass-cache
/connect.lock
/*/connect.lock
/coverage
/*/coverage
/libpeerconnection.log
/*/libpeerconnection.log
npm-debug.log
/*/npm-debug.log
testem.log
/*/testem.log
/typings
/*/typings

# e2e
/e2e/*.js
/*/e2e/*.js
/e2e/*.map
/*/e2e/*.map

# System Files
.DS_Store
/*/.DS_Store
Thumbs.db
/*/Thumbs.db